<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65120396673-jn9pg4rufoe3qis0pv1399pdfnnq77jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65120396673-jn9pg4rufoe3qis0pv1399pdfnnq77jm</string>
	<key>API_KEY</key>
	<string>AIzaSyAP59Uz5vAV6Yirf_QsEkjMbjV9pD3qu04</string>
	<key>GCM_SENDER_ID</key>
	<string>65120396673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maloubron.HAVO-Engels</string>
	<key>PROJECT_ID</key>
	<string>havo2-a4fba</string>
	<key>STORAGE_BUCKET</key>
	<string>havo2-a4fba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65120396673:ios:a0b1611777ba6d7a</string>
	<key>DATABASE_URL</key>
	<string>https://havo2-a4fba.firebaseio.com</string>
</dict>
</plist>